body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d5d5d5;
  min-height: 100vh; /* Ensure the body takes the full viewport height */
}

.app {
  text-align: center;
  min-height: 100vh; /* Make sure the app wrapper also takes the full height */
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #00509e; /* Primary blue */
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: #f8f9fa; /* Light gray/white text */
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #456188; /* Lighter blue on hover */
}

.map-container {
  height: 100vh; /* or a specific height you want */
  width: 100%;
}


main {
  padding: 2rem;
  background-color: transparent;
  border-top: 1px solid #d1e4ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}